<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row no-padder-v text-gray">
            <h3 class="col-xs-9 panel-title">{{"dashboard.allVisits" | translate}}</h3>
            <loading></loading>
        </div>
    </div>
    <div class="panel-body text-center font-bold widget-growth">
        <div class="row count">
            <span>{{visits | translateNumber}}</span>
            <span class="digitLabel">{{"widget.person" | translate}}</span>
        </div>
        <div class="row text-{{textClass}} countPercent">
            <i class="fa {{iconClass}} icon" aria-hidden="true"></i>
            <span class="unicode-ltr" ng-if="percent < 0">{{percent*-1 | translateNumber}}%</span>
            <span class="unicode-ltr" ng-if="percent == 0">{{percent | translateNumber}}%</span>
            <span class="unicode-ltr" ng-if="percent > 0">{{percent | translateNumber}}%</span>
            <span class="digitLabel">{{"widget.growth" | translate}}</span>
        </div>
    </div>
</div>
