<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'member.createMemberByGroup' |translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper-lg row">
            <form class="form-horizontal" name="memberByGroupForm">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div uib-alert class="alert-info">
                            <div>{{'member.memberByGroupRequiredField' | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">{{ "member.mobile" | translate }}</label>
                        <input type="text" class="form-control" placeholder="{{'general.mobileExample' | translate}}"
                               ng-model="memberByGroup.mobile">
                    </div>
                    <div class="col-sm-6">

                        <label class="control-label">{{ "member.reserveCode" | translate }}</label>
                        <input type="text" class="form-control" ng-model="memberByGroup.reserveCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">{{ "member.tourCode" | translate }}</label>
                        <input type="text" class="form-control" ng-model="memberByGroup.tourCode">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">{{ "member.nationalCode" | translate }}</label>
                        <input type="text" class="form-control" ng-model="memberByGroup.nationalCode">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">{{ "member.passportNumber" | translate }}</label>
                        <input type="text" class="form-control" ng-model="memberByGroup.passportNumber">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">{{ "general.number" | translate }}</label>
                        <input type="number" min="3" max="30" class="form-control" ng-model="memberByGroup.count">
                    </div>
                    <div class="col-sm-6 col-sm-offset-6 text-info-dker text-sm">
                        <i class="fa fa-info-circle"></i>&nbsp;{{"member.memberByGroupCount" | translate}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="control-label">
                            {{ "member.internetPlanName" | translate }}
                        </label>
                        <select ng-model="memberByGroup.internetPlan" class="form-control"
                                ng-options="internetPlan.name  for internetPlan in internetPlans">
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">
                            {{ "member.memberByGroupDuration" | translate }}
                        </label>
                        <div class="input-group">
                            <input type="number" min="1" class="form-control" ng-model="memberByGroup.duration"
                                   required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"internetPlan.day" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        {{"member.memberByGroupHelpLanguage"| translate}}
                    </label>
                    <div class="col-sm-10">
                        <label class="radio-inline i-checks i-checks-sm">
                            <input type="radio" ng-model="memberByGroup.helpLanguageCode" value="fa"><i></i>
                            {{"general.persian"|translate}}
                        </label>
                        <label class="radio-inline i-checks i-checks-sm">
                            <input type="radio" ng-model="memberByGroup.helpLanguageCode" value="en"><i></i>
                            {{"general.english"|translate}}
                        </label>
                        <label class="radio-inline i-checks i-checks-sm">
                            <input type="radio" ng-model="memberByGroup.helpLanguageCode" value="ar"><i></i>
                            {{"general.arabic"|translate}}
                        </label>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ 'general.cancel' | translate }}</button>
        <button ng-disabled='loading' ng-click="save()" class="btn btn-sm btn-primary">{{'general.saveAndPdf' | translate }}</button>
    </div>
</div>


