<div ui-jq="easyPieChart" ui-options="chartOption" class="inline m-t">
    <div>
        <span class="text-primary h4">{{chartOption.percent | persianNumber}}%</span>
    </div>
</div>
<div class="text-muted font-bold text-xs m-t m-b" ng-if="params.remainBulk.value != 'unlimited'">
    {{'member.bulkRemain' | translate}} : {{params.remainBulk.value | persianNumber}}{{params.remainBulk.type | translate}}
</div>
<div class="text-muted font-bold text-xs m-t m-b" ng-if="params.remainBulk.value == 'unlimited'">
    {{'member.bulkRemain' | translate}} : {{'member.' + params.remainBulk.value | translate}}
</div>