<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row no-padder-v text-gray">
            <h3 class="col-xs-10 panel-title">{{"dashboard.routerStatus" | translate}}</h3>
            <loading></loading>
        </div>
    </div>
    <div class="panel-body text-center font-bold widget-router">
        <div class="row">
            <span class="text-info padder-l-10"><i class="fa fa-circle"></i></span>
            <span ng-if="onLineNas == 0" class="text-muted">{{onLineNas | translateNumber}} <i class="text-md">{{"dashboard.onlineRouters" | translate}}</i></span>
            <span ng-if="onLineNas > 0" class="text-info">{{onLineNas | translateNumber}} <i class="text-md">{{"dashboard.onlineRouters" | translate}}</i></span>
        </div>
        <div class="row">
            <span class="text-warning padder-l-10"><i class="fa fa-circle"></i></span>
            <span ng-if="offLine == 0" class="text-muted">{{offLine | translateNumber}}  <i class="text-md">{{"dashboard.offlineRouters" | translate}}</i></span>
            <span ng-if="offLine > 0" class="text-warning">{{offLine | translateNumber}}  <i class="text-md">{{"dashboard.offlineRouters" | translate}}</i></span>
        </div>
    </div>
</div>
