<h1 class="wrapper-sm m-n h5">{{"campaign.insertMessageTime" | translate}}</h1>
<ul class="list-group list-group-sm">
    <li class="list-group-item" ng-repeat="(timeName,time) in campaignTypes[campaign.type].times">
        <label>
            <input type="radio" name="timesRadios" value="{{timeName}}"
                   ng-model="campaign.time">
            {{time.title | translate}}
        </label>
    </li>
</ul>
<div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    {{campaignTypes[campaign.type]["times"][campaign.time].description | translate}}
</div>
