<div class="">
    <div class="modal-body">
        <div class="padder-v">
            <h3 class="modal-title">{{ 'upload.selectFile' |translate }}</h3>
        </div>
        <div class="padder-v">
            <div class="row">
                <uib-tabset active="active" class="wrapper-md">
                    <uib-tab index="$index" ng-repeat="tab in tabs">
                        <uib-tab-heading class="" ng-class="{'text-primary': active==$index}">
                            <h1 class="m-n font-normal h5"><i class="fa" ng-class="tab.icon"></i>&nbsp;&nbsp;{{tab.title | translate}}</h1>
                        </uib-tab-heading>
                        <div ng-include="tab.url"></div>
                    </uib-tab>
                </uib-tabset>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <div class="modal-footer padder-v">
        <button ng-click="cancel()" class="btn btn-default btn-sm">{{ 'upload.close' | translate }}
        </button>
        <button ng-click="saveImage()" class="btn btn-primary btn-sm">{{ 'upload.save' | translate }}
        </button>
    </div>
</div>