<div class="col-md-8 col-md-offset-2 padder-v-lg input-group">
    <div class="padder-v-lg">
        <input type="file" class="form-control" nv-file-select uploader="uploader"/>
    </div>
    <div class="padder-v-lg">
        <ul class="list-group">
            <li ng-repeat="item in uploader.queue" class="list-group-item list-group-item-info">
                    {{'upload.fileName' |  translate}}: <span class="upload-modal" ng-bind="item.file.name"></span>
                    <button class="btn btn-primary pull-right" ng-click="item.upload()">{{'upload.file' | translate}}</button>
            </li>
        </ul>
        <ul class="list-group" ng-show="show">
            <li class="list-group-item {{status}}">
                    {{'upload.operation' |  translate}} <span class="upload-modal" ng-bind="fileName"></span>
                    {{ result | translate}}
            </li>
        </ul>
    </div>
</div>
