<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        <img src="img/logo.png" alt="pinTime Logo">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!--buttons-->
    <div class="nav navbar-nav hidden-xs">
    </div>
    <!--buttons-->

    <div class="nav navbar-nav navbar-right">
        <span ng-controller="businessSettings" access="networkadmin" access-permission-type="one">
            <button type="button" class="btn btn-sm m-b-xs btn-default btn-rounded btn-addon"
                    ng-click="increaseCredit()">{{"business.smsCharge" | translate}}</button>
        </span>

        <span ng-controller="subscriptionService" access="networkadmin" access-permission-type="one">
            <button type="button" ng-if="!dontShowBuyPackages"
                    class="btn btn-sm m-b-xs btn-primary btn-rounded btn-addon" ui-sref="app.purchaseSubscription">
                <span>{{"business.buyPremium" | translate}}</span>
            </button>
            <a class="btn no-shadow navbar-btn text-primary" ng-if="hasReseller">
                <span class="">{{"general.support" | translate}}:{{resellerMobile | translateNumber}} &nbsp; </span>
                <i class="fa fa-phone"></i>
            </a>
            <a class="btn no-shadow navbar-btn text-primary" ng-if="!hasReseller">
                <span class="">{{"general.supportContact" | translate}}</span>
                <i class="fa fa-phone"></i>
            </a>
        </span>

        <span ng-controller="resellerSettings" access-permission-type="one" access="reseller">
            <span class="text-sm">
                <span class="font-bold">{{"reseller.yourRevenue" | translate}}:</span>
                <span>{{resellerBalance|currency : "" : 0|translateNumber}}&nbsp;{{"general.currency" | translate}}</span>
            </span>

            <a class="btn no-shadow navbar-btn text-primary">
                <span class="">{{"general.supportContact" | translate}}</span>
                <i class="fa fa-phone"></i>
            </a>
        </span>

        <span ng-controller="changePasswordCtrl" access="member" access-permission-type="one">
            <button type="button" class="btn btn-sm m-b-xs btn-danger btn-rounded btn-addon" ng-click="editPassword()">
                <span>{{"member.editPassword" | translate}}</span>
            </button>
        </span>

        <span ng-controller="increaseBulk" access="member" access-permission-type="one">
            <button type="button" class="btn btn-sm m-b-xs btn-primary btn-rounded btn-addon" ng-click="addBulk()">
                <span>{{"member.increaseBulk" | translate}}</span>
            </button>
        </span>

        <span ng-controller="buyPlan" access="member" access-permission-type="one">
            <button type="button" class="btn btn-sm m-b-xs btn-info btn-rounded btn-addon" ng-click="showPlans()">
                <span>{{"member.buyPackage" | translate}}</span>
            </button>
        </span>

        <span ng-if="!dontShowBuyPackages">
            <a class="btn no-shadow navbar-btn" href="https://bit.ly/2vzyxM2">
                <span class="text-xs">{{"general.guide" | translate}}</span>
                <i class="fa fa-question-circle-o"></i>
            </a>
        </span>

        <span ng-controller="BusinessSignInController" access="business,networkadmin"
              access-permission-type="one">
            <a class="btn no-shadow navbar-btn" ng-click="signOut()">
                <span class="text-xs">{{"general.signOut" | translate}}</span>
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
        <span ng-controller="AdminSignInController" access="admin"
              access-permission-type="one">
            <a class="btn no-shadow navbar-btn" ng-click="signOut()">
                <span class="text-xs">{{"general.signOut" | translate}}</span>
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
        <span ng-controller="ResellerSignInController" access="reseller"
              access-permission-type="one">
            <a class="btn no-shadow navbar-btn" ng-click="signOut()">
                <span class="text-xs">{{"general.signOut" | translate}}</span>
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
        <span ng-controller="MemberSignInController" access="member"
              access-permission-type="one">
            <a class="btn no-shadow navbar-btn" ng-click="signOut()">
                <span class="text-xs">{{"general.signOut" | translate}}</span>
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
    </div>
</div>
<!-- / navbar collapse -->
