<div ng-controller="dashboard">
    <div class="padder-md">
        <div ng-if="datePicker" id="datePickerAdvanced" class="row padder-v m-b b-b">
            <date-picker-advance update-dashboard="updateDashboard(option)"/>
        </div>
        <div ng-if="!datePicker" id="monthPicker" class="row padder-v m-b b-b">
            <div class="col-sm-3 col-xs-12">
                <date-picker-monthly update-dashboard="updateDashboard(option)"/>
            </div>
        </div>
        <div id="showDetail">
            <!--<div class="row ">-->
                <!--<div class="col-xs-12 col-sm-12 col-md-12">-->
                    <!--<service-status options="initParams"></service-status>-->
                <!--</div>-->
            <!--</div>-->
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 ">
                    <traffic-usage options="initParams"></traffic-usage>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 no-padder">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <usage-report options="initParams"></usage-report>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <member-count options="initParams"></member-count>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <remaining-credit options="initParams"></remaining-credit>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12 no-padder">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <report-status options="initParams"></report-status>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <sessions-report options="initParams"></sessions-report>
                </div>
            </div>
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <top-members options="initParams"></top-members>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <members-report options="initParams"></members-report>
                </div>
            </div>
        </div>
    </div>
</div>