<div class="container w-xxl w-auto-xs" ng-controller="BusinessSignUpController"
     ng-init="app.settings.container = false;">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>{{"business.signUpPageTile"|translate}}</strong>
        </div>
        <form name="form" class="form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
                {{authError | translate}}
            </div>
            <div class="text-info wrapper text-center" >
                {{"business.checkMobileNumber"|translate}}
            </div>
            <div class="list-group list-group-sm access-form" >
                <div class="list-group-item">
                    <input placeholder="{{'business.title'| translate}}" class="form-control no-border"
                           ng-model="business.title" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="{{'general.fullName'| translate}}" class="form-control no-border"
                           ng-model="business.fullName" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="{{'general.email'| translate}}" class="ltr-text form-control no-border"
                           ng-model="business.email" required>
                </div>
                <div class="list-group-item">
                    <input placeholder="{{'general.mobile'| translate}}" class="ltr-text form-control no-border"
                           ng-model="business.mobile"
                           required>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="{{'general.password' | translate}}"
                           class="form-control no-border ltr-text"
                           ng-model="business.password" required>
                </div>
            </div>
            <div class="checkbox m-b-md m-t-none">
                <label class="i-checks">
                    <input type="checkbox" ng-model="agree" required><i></i> {{"general.iAmAgree"|translate}}
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signUp()"
                    ng-disabled='form.$invalid'>
                {{"general.signMeUp"|translate}}
            </button>
            <div class="line line-dashed"></div>
            <p class="text-center">
                <small>{{"general.alreadyMember"|translate}}</small>
            </p>
            <a ui-sref="access.signIn" class="btn btn-lg btn-default btn-block">{{"general.signIn"|translate}}</a>
        </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        {% include 'blocks/page_footer.html' %}
    </div>
</div>
