<section desc="ChooseLanguage">
  <div class="row alpha-margin-top-15vh">
      <form class="col-md-6 col-md-offset-3 col-sm-12">
        <div class="form-group">
          <button class="btn btn-block alpha-btn alpha-btn-primary" type="submit" ng-click="setLang('fa')">فارسی</button>
        </div>
        <div class="form-group">
          <button class="btn btn-block alpha-btn alpha-btn-default" type="submit" ng-click="setLang('en')">English</button>
        </div>
      </form>
  </div>
</section>
