<div class="collapse col-sm-12" uib-collapse="isAdvance">
    <div class="col-xs-12 col-sm-12 col-md-4 form-horizontal padder-t-8">
        <div class="padder-l-10 float-right">
            <label class="control-label no-margin">{{"dashboard.start" | translate}}</label>
        </div>
        <div class="input-group input-group-sm calender-container">
            <input type="text" class="text-center form-control"
                   datepicker-popup-persian='{{dateFormat}}' ng-model="fromDate"
                   is-open="startDateCalendarIsOpen" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   close-text="{{ 'date.close' | translate }}"
                   ng-class=""/>

            <span class="input-group-btn">
                <button type="button" class="btn btn-primary"
                        ng-click="startDateCalendar($event)">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 form-horizontal padder-t-8">
        <div class="padder-l-10 float-right">
            <label class="control-label no-margin">{{"dashboard.end" | translate}} </label>
        </div>
        <div class="input-group input-group-sm calender-container">
            <input type="text" class="text-center form-control"
                   datepicker-popup-persian='{{dateFormat}}' ng-model="endDate"
                   is-open="endDateCalendarIsOpen" datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   close-text="{{ 'date.close' | translate }}"
                   ng-class=""/>

            <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"
                                    ng-click="endDateCalendar($event)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 form-horizontal padder-t-8">
            <select ng-model="selectedDepartment" class="form-control input-sm "
                    ng-options="department.title  for department in permittedDepartments">
            </select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 padder-t-8">
        <button type="button" class="btn btn-default btn-sm btn-block" ng-model="radioModel"
                ng-click="search()">
            <i class="fa fa-refresh padder-l-10" aria-hidden="true"></i>
            {{'dashboard.btnShow' | translate}}
        </button>
    </div>
    <!--<div class="col-xs-12 col-sm-12 col-md-2 padder-t-8">-->
    <!--<button class="btn btn-default btn-sm btn-block" ng-click="showBasic()">{{'dashboard.showBasic' |-->
    <!--translate}}-->
    <!--</button>-->
    <!--</div>-->
</div>
<!--<div class="collapse col-sm-12" uib-collapse="isBasic">-->
<!--<div class="col-xs-12 col-sm-12 col-md-6 padder-t-8">-->
<!--<div class="btn-group btn-group-justified">-->
<!--<label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'daily'"-->
<!--ng-click="getDates()">{{'dashboard.daily' | translate}}</label>-->
<!--<label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'weekly'"-->
<!--ng-click="getDates()">{{'dashboard.weekly' | translate}}</label>-->
<!--<label class="btn btn-default btn-sm" ng-model="radioModel" uib-btn-radio="'monthly'"-->
<!--ng-click="getDates()">{{'dashboard.monthly' | translate}}</label>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-4 padder-t-8">-->
<!--<button class="btn btn-default btn-sm btn-block" ng-click="showAdvance()">{{'dashboard.showAdvance'-->
<!--|-->
<!--translate}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->