<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{ options.title |translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <form class="form-horizontal" name="resellerForm">
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "reseller.title" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="reseller.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "general.fullName" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="reseller.fullName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "general.mobile" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" ng-minlength="10" class="form-control"
                               placeholder="{{'general.mobileExample' | translate}}" ng-model="reseller.mobile"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "general.phone" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" ng-minlength="10" class="form-control"
                                ng-model="reseller.phone">
                    </div>
                </div>
                <div class="form-group" ng-if="options.newReseller">
                    <label class="col-sm-4 control-label">
                        {{ "general.password" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" ng-model="reseller.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "general.email" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control"
                               placeholder="{{'general.emailExample' | translate}}" ng-model="reseller.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "general.city" | translate }}</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" ng-model="reseller.city" required>
                    </div>
                </div>
        <!--        <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "reseller.allowedOnlineUsers" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="reseller.allowedOnlineUsers" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.person" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "reseller.serviceStartDate" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group-sm calender-container">
                            <input type="text" class="text-center form-control"
                                   datepicker-popup-persian='{{dateFormat}}' ng-model="reseller.subscriptionDate"
                                   is-open="calendarIsOpen" datepicker-options="dateOptions"
                                   close-text="{{ 'date.close' | translate }}"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"
                                    ng-click="selectDate($event)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "reseller.selectDuration" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   ng-model="reseller.durationInMonths" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.month" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
   -->             <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-4 checkbox">
                        <label class="i-checks">
                            <input type="checkbox" ng-model="reseller.active"><i></i>{{"reseller.active" | translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group" ng-if="resellerForm.$error.required">
                    <label class="col-sm-7 col-sm-offset-2 control-label text-danger text-sm">
                        <span><i class="fa fa-warning"></i> {{ "general.allFieldsRequired" | translate }}
                        </span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ options.cancelBtnLabel | translate }}</button>
        <button ng-click="save(resellerForm.$error.required)" class="btn btn-sm btn-primary">{{ options.saveBtnLabel |
            translate }}
        </button>
    </div>
</div>
