<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{ options.title |translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <form class="form-horizontal" name="resellerBusinessForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ "profile.title" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="business.title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ "general.fullName" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="business.fullName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ "general.mobile" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="text" ng-minlength="10" class="form-control"
                               placeholder="{{'general.mobileExample' | translate}}" ng-model="business.mobile"
                               required>
                    </div>
                </div>
                <div class="form-group" ng-if="options.newBusiness">
                    <label class="col-sm-3 control-label">
                        {{ "general.password" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" ng-model="business.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ "general.email" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control"
                               placeholder="{{'general.emailExample' | translate}}" ng-model="business.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ "general.city" | translate }}</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="business.city" required>
                    </div>
                </div>
                <!--<hr ng-if="options.newBusiness">-->

                <!--<div class="form-group" ng-if="options.newBusiness">
                    <label class="col-sm-3 control-label">
                        {{ "general.packagesType" | translate }}</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label ng-repeat="pkg in data.packages track by $index" class="btn btn-primary"
                                   ng-click="updateModulePrice()" ng-model="data.packagesId"
                                   uib-uncheckable="false" uib-btn-radio="pkg.id">{{pkg.pkgDescription}}</label>
                        </div>
                    </div>
                </div>-->
                <!--<div class="form-group" ng-if="options.newBusiness">
                    <label class="col-sm-3 control-label">
                    </label>
                    <div class="col-sm-8">
                        <div class="alert alert-info">
                            {{"reseller.resellerPlansHelp"|translate}}
                            <br>
                            <a style="text-decoration: underline"
                               href="https://hotspotplus.ir/%D8%A7%D9%85%DA%A9%D8%A7%D9%86%D8%A7%D8%AA-%D8%A7%DA%A9%D8%A7%D9%86%D8%AA%DB%8C%D9%86%DA%AF-%D8%A2%D9%86%D9%84%D8%A7%DB%8C%D9%86">
                                <i class="fa fa-external-link-square"></i>{{"reseller.resellerPlansHelpLink"|translate}}</a>
                        </div>
                    </div>
                </div>-->



                <!--<hr ng-if="options.newBusiness"  ng-show="false">-->


                <!--<div class="form-group" ng-show="false">
                    <label class="col-sm-3 control-label">
                        {{ "general.optionalModules" | translate }}</label>
                    <div class="col-sm-8">
                        <div class="btn-group">
                            <label class="btn btn-primary"
                                   ng-repeat="module in data.packages[data.packagesId].modules"
                                   ng-model="data.modules[module.id]" uib-btn-checkbox>{{module.title }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="false">
                    <label class="col-sm-3 control-label">
                    </label>
                    <div class="col-sm-8">
                        <div class="alert alert-info">
                            {{"reseller.resellerModuleHelp"|translate}}
                        </div>
                    </div>
                </div>-->

                <!--<div class="form-group" ng-show="false">
                    <label class="col-sm-3 control-label">
                        {{ "general.modulesCosts" | translate }}</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <label type="text" class="form-control" style="text-align: center">{{data.modulePrice
                                |currency : "" :0|translateNumber}}</label>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.currency" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--<hr ng-if="options.newBusiness">-->

                <!--<div class="form-group" ng-if="options.newBusiness">
                    <label class="col-sm-3 control-label">
                        {{ "reseller.yourRevenue" | translate }}</label>
                    <div class="col-sm-8">

                        <div class="input-group">
                            <label type="text" class="form-control" style="text-align: center">{{
                                (data.packages[data.packagesId].annuallyPrice * activeTariff) |currency : ""
                                :0|translateNumber}}</label>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.currency" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="options.newBusiness" >
                    <label class="col-sm-3 control-label">
                        {{ "reseller.finalPriceForCustomer" | translate }}</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <label type="text" class="form-control" style="text-align: center">{{data.packages[data.packagesId].annuallyPrice
                                |currency : "" :0|translateNumber}}</label>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.currency" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!--
                <div class="form-group" ng-if="options.newBusiness" >
                    <label class="col-sm-3 control-label">
                        {{ "general.invoicePrice" | translate }}</label>
                    <div class="col-sm-8">

                        <div class="input-group">
                            <label type="text" class="form-control" style="text-align: center">{{(data.modulePrice +
                                data.packages[data.packagesId].annuallyPrice ) - (data.packages[data.packagesId].annuallyPrice *
                                activeTariff.discount) |currency : ""
                                :0|translateNumber}}</label>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.currency" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>-->


            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ options.cancelBtnLabel | translate }}</button>
        <button ng-click="save(resellerBusinessForm.$error.required)" class="btn btn-sm btn-primary">{{
            options.saveBtnLabel | translate }}
        </button>
    </div>
</div>
