<div class="container w-xxl w-auto-xs" ng-controller="AdminSignInController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">{{app.name}}</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>{{"user.signInTitle"|translate}}</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
        {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="{{'general.username'|translate}}" class="form-control no-border" ng-model="credential.username" required>
        </div>
        <div class="list-group-item">
          <input type="password" placeholder="{{'general.password'|translate}}" class="form-control no-border" ng-model="credential.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signIn()" ng-disabled='form.$invalid'>{{"user.signIn"|translate}}</button>
    </form>
  </div>
  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    {% include 'blocks/page_footer.html' %}
  </div>
</div>
