<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{ options.title |translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="pre-scrollable">
            <div class="col wrapper-lg" ng-if="!options.invoices || options.invoices.length == 0">
                <div uib-alert class="alert-danger">{{"business.noItemToShow" | translate}}</div>
            </div>
            <table class="table table-hover table-responsive table-condensed text-xs"
                   ng-if="options.invoices && options.invoices.length != 0">
                <thead>
                <tr>
                    <th>{{"general.row" | translate}}</th>
                    <th>{{"invoice.paymentDate" | translate}}</th>
                    <th>{{"invoice.allowedOnlineUsers" | translate}}</th>
                    <th>{{"invoice.serviceDuration" | translate}}</th>
                    <th>{{"invoice.invoiceType" | translate}}</th>
                    <th>{{"invoice.issueDate" | translate}}</th>
                    <th>{{"invoice.price" | translate}}</th>
                    <th>{{"invoice.payed" | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="invoice in options.invoices | orderBy: '-issueDate'"
                    ng-class="{'success' : invoice.payed == true,'danger' : invoice.payed == false}">
                    <td>{{$index + 1 | translateNumber}}</td>
                    <td>
                        <span ng-if="invoice.paymentDate">{{invoice.paymentDate | persianDate : "fullDate" | translateNumber}}</span>
                        <span ng-if="!invoice.paymentDate">-</span>
                    </td>
                    <td>
                        <span ng-if="invoice.allowedOnlineUsers">{{invoice.allowedOnlineUsers | translateNumber}}&nbsp;{{'general.person' | translate}}</span>
                        <span ng-if="!invoice.allowedOnlineUsers">-</span>
                    </td>
                    <td>
                        <span ng-if="invoice.durationInMonths">{{invoice.durationInMonths | translateNumber}}&nbsp;{{'general.month' | translate}}</span>
                        <span ng-if="!invoice.durationInMonths">-</span>
                    </td>
                    <td>{{"invoice."+invoice.invoiceType | translate}}</td>
                    <td>{{invoice.issueDate | persianDate : "fullDate" | translateNumber}}</td>
                    <td><span style="direction: ltr">{{invoice.price | translateNumber}}</span>&nbsp;{{"general.toman"
                        | translate}}
                    </td>
                    <td><span ng-if="invoice.payed == true">{{'invoice.payedTrue' | translate}}</span>
                        <span ng-if="invoice.payed == false">{{'invoice.payedFalse' | translate}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-sm btn-primary">{{ options.okBtnLabel | translate }}</button>
</div>
