<div class="">
    <div class="modal-header">
        <h3 class="modal-title  text-danger" ng-if="options.payed == 'false'">{{ "business.operationError" |translate }}</h3>
        <h3 class="modal-title" ng-if="options.payed == 'true'">{{ "business.operationSuccess" |translate }}</h3>
    </div>
    <div class="modal-body">
                <div class="wrapper padding-v text-center">
                    <h1 class="m-n h4" ng-if="options.payed == 'false'">{{ "business.operationErrorContactSupport" |translate }}</h1>
                    <h1 class="m-n h4" ng-if="options.payed == 'true'">{{ "business.operationSuccessful" |translate }}</h1>
                </div>
    </div>
    <div class="modal-footer">
        <button ng-click="ok()" class="btn btn-sm btn-danger col-sm-4 pull-right" ng-if="options.payed == 'false'">{{ "general.gotIt" | translate }}</button>
        <button ng-click="ok()" class="btn btn-sm btn-primary col-sm-4 pull-right" ng-if="options.payed == 'true'">{{ "general.close" | translate }}</button>
    </div>
</div>
