<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{"coupon.details" | translate}}</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <dl class="dl-horizontal">
                <div class="wrapper-xs">
                    <dt>{{"coupon.code" | translate}}</dt>
                    <dd>{{coupon.code}}</dd>
                </div>
                <div class="wrapper-xs">
                    <dt>{{"coupon.count" | translate}}</dt>
                    <dd>{{coupon.count | translateNumber}} {{'general.count' | translate}}</dd>
                </div>
                <div class="wrapper-xs">
                    <dt>{{"coupon.used" | translate}}</dt>
                    <dd>{{coupon.used | translateNumber}} {{'general.count' | translate}}</dd>
                </div>
                <div class="wrapper-xs">
                    <dt>{{"coupon.value" | translate}}</dt>
                    <dd>{{coupon.value.amount | translateNumber}} {{'general.'+coupon.value.unit | translate}}</dd>
                </div>
                <div class="wrapper-xs">
                    <dt>{{"coupon.creationDate" | translate}}</dt>
                    <dd ng-if="coupon.creationDate">{{coupon.creationDate |  persianDate : 'fullDate'|translateNumber }}</dd>
                </div>
                <div class="wrapper-xs"  ng-if="coupon.redeemDate">
                    <dt>{{"coupon.redeemDate" | translate}}</dt>
                    <dd>{{coupon.redeemDate |  persianDate : 'fullDate'|translateNumber }}</dd>
                </div>
            </dl>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ "general.cancel" | translate }}</button>
        <button ng-click="redeem(coupon)" class="btn btn-sm btn-primary" ng-class="{'disabled':coupon.used >= coupon.count}">{{ "coupon.redeem" | translate }}</button>
    </div>
</div>
