<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row no-padder-v text-gray">
            <h3 class="col-xs-10 panel-title">{{"dashboard.yAxesLabelQty" | translate}} {{"dashboard.onlineUserReport" | translate}}</h3>
            <loading></loading>
        </div>
    </div>
    <div class="panel-body text-center font-bold">
        <div  ng-if="count == 0" class="row widget-session text-muted">
            <span>{{count | translateNumber}}</span>
        </div>
        <div ng-if="count > 0" class="row widget-session text-success">
            <span>{{count | translateNumber}}</span>
        </div>
    </div>
</div>
