<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{ "license.assignService" |translate }}</h3>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <form class="form-horizontal" name="businessForm">

                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "business.serviceStartDate" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group input-group-sm calender-container">
                            <input type="text" class="text-center form-control"
                                   datepicker-popup-persian='{{dateFormat}}' ng-model="moduleItem.subscriptionDate"
                                   is-open="calendarIsOpen" datepicker-options="dateOptions"
                                   close-text="{{ 'date.close' | translate }}"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"
                                    ng-click="selectDate($event)">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "business.selectDuration" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   ng-model="moduleItem.durationInMonths" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.month" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div> <div class="form-group">
                    <label class="col-sm-4 control-label">
                        {{ "license.allowedOnlineUsers" | translate }}</label>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   ng-model="moduleItem.allowedOnlineUsers" required>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" disabled="disabled">
                                    {{"general.month" | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ "general.close" | translate }}</button>
        <button ng-click="save()" class="btn btn-sm btn-primary">{{ "general.save" |
            translate }}
        </button>
    </div>
</div>
