/*direction*/
.dir-ltr {
  direction: ltr !important;
}
.dir-rtl {
  direction: rtl !important;
}
/*body*/
body {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: IRANSans, serif !important;
  font-weight: 300;
  direction: rtl;
  font-size: 14px !important;
  line-height: 22px !important;
  margin: 0;
}
/*logo*/
.logo-img {
  width: 20vh;
  margin: 0 auto 20px;
  display: block;
}
.div-logo {
  margin: 15vh 10vh 5vh 10vh;
}
/*font and text*/
.font-normal {
  font-weight: normal;
}
.font-thin {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
/*wrappers and containers*/
.wrapper-xs {
  padding: 5px;
}
.wrapper-sm {
  padding: 10px;
}
.wrapper {
  padding: 15px;
}
.wrapper-md {
  padding: 20px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.min-h-xs {
  min-height: 35px;
}
.min-h-md {
  min-height: 175px;
}
.min-h-lg {
  min-height: 215px;
}
.padder-h-sm {
  padding: 0 5px;
}
.alpha-margin-top-15vh {
  margin-top: 15vh;
}
.alpha-margin-15px {
  margin: 15px;
}
/*backgrounds*/
.bg-opacity {
  height: 100% !important;
  overflow: scroll;
  background-color: rgba(71, 40, 53, 0.74);
}
/*font and text*/
.alpha-footer-text {
  color: white;
}
.alpha-header-text {
  color: white !important;
  line-height: 25px !important;
  font-weight: normal !important;
}
.alpha-info-text {
  color: white !important;
}
/*button*/
.alpha-btn {
  border-radius: 50px;
  height: 50px;
  outline: 0 !important;
}
.alpha-btn-default {
  border: 1px solid white;
  background-color: transparent !important;
  color: white !important;
}
.alpha-btn-primary {
  border: 0 solid transparent;
  background-color: #4d1329 !important;
  color: white !important;
}
.alpha-btn-second-primary {
  border: 2px solid #4d1329 !important;
  background-color: white !important;
  color: #4d1329 !important;
}
.alpha-btn-link {
  color: #4d1329 !important;
}
.alpha-social-btn {
  color: white !important;
  font-size: 2.5em;
}
/*input and select*/
.alpha-input {
  border: 0 solid transparent;
  border-radius: 50px;
  height: 50px;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.15);
  color: white !important;
  outline: 0 !important;
}
.alpha-input:focus {
  outline: none;
  border: 0 solid;
}
.wrapper input[type="text"] {
  position: relative;
}
input {
  font-family: 'fontello', IRANSans, serif;
}
.alpha-select {
  text-align-last: center !important;
}
/* This is for the placeholder */
.alpha-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
.alpha-input::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
.alpha-input:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
.alpha-input:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
/*panel*/
.alpha-panel-default {
  border: 0 solid transparent;
}
.alpha-panel-default .panel-footer {
  border-top: 1px solid #4d1329 !important;
  background-color: #4d1329 !important;
}
.alpha-panel-default .panel-heading {
  border-color: #4d1329 !important;
}
