<div class="">
    <div class="">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'license.info' |translate }}</h3>
        </div>
        <div class="modal-body">
            <div class="wrapper">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-4">
                            {{"general.title" |translate}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.title}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            {{"Application Version" |translate}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.applicationVersion}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            {{"Web App Address"}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.webAppAddress}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            {{"External Api Address"}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.externalApiAddress}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            {{"System Uuid"}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.systemUuid}}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            {{"general.mobile" |translate}}:
                        </div>
                        <div class="col-sm-6">
                            {{ license.mobile}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            {{"general.package" |translate}}:{{ license.services.id}}
                        </div>
                        <div class="col-sm-12">
                            {{"license.subscriptionDate" |translate}}:{{ license.services.subscriptionDate |
                            persianDate:'fullDate'|translateNumber }}
                        </div>
                        <div class="col-sm-12">
                            {{"license.allowedOnlineUsers" |translate}}:{{ license.services.allowedOnlineUsers
                            |translateNumber }}
                        </div>
                        <div class="col-sm-12">
                            {{"license.expiresAt" |translate}}:{{ license.services.expiresAt |
                            persianDate:'fullDate'|translateNumber }}
                        </div>
                    </div>
                    <hr>

                    <div ng-repeat="module in license.modules">
                        <div class="row">
                            <div class="col-sm-12">
                                {{"license.module" |translate}}:{{ module.id}}
                            </div>
                            <div class="col-sm-12">
                                {{"license.subscriptionDate" |translate}}: {{ module.subscriptionDate |
                                persianDate:'fullDate'|translateNumber }}
                            </div>
                            <div class="col-sm-12">
                                <span>
                                    {{"license.expiresAt" |translate}}: {{ module.expiresAt | persianDate:'fullDate'|translateNumber }}
                                </span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="cancel()" class="btn btn-sm btn-default">{{ "general.close" | translate }}</button>
    </div>
</div>
