<div class="">
    <div class="modal-header">
        <h3 class="modal-title">{{"business.buyPackage" | translate}}</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped serviceTable">
            <thead>
            <tr>
                <th class="start-text col-md-6">
                    <h4>{{"general.features"|translate}}</h4>
                </th>
                <th class="col-md-2" ng-repeat="pkg in serviceConfig.packages">
                    <h4>
                        {{pkg.title}}
                    </h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feature in serviceConfig.features">
                <td class="start-text">
                    {{feature.title}}
                    <a ng-if="feature.desc" ng-click="showDetails(feature.desc)" style="color: #7266ba">
                        ({{"general.details"|translate}})
                    </a>
                </td>
                <td>
                    <span ng-if="feature.type  === 'boolean' ">
                      <i style=" " ng-if="feature.annually " class="fa fa-check service-premium-icon"></i>
                        <i style=" " ng-if="!feature.annually " class="fa fa-ban service-free-icon"></i>
                    </span>
                    <span ng-if="feature.type == 'string'">
                        {{feature.annually }}
                    </span>
                    <span ng-if="feature.type == 'number'">
                        {{feature.annually |translateNumber}}
                    </span>
                    <span ng-if="feature.type == 'price'">
                        {{feature.annually |currency : "" :0|translateNumber}}{{"general.currency"|translate}}
                    </span>
                </td>
                <td>
                    <span ng-if="feature.type  === 'boolean' ">
                      <i style=" " ng-if="feature.monthly" class="fa fa-check service-premium-icon"></i>
                        <i style=" " ng-if="!feature.monthly" class="fa fa-ban service-free-icon"></i>
                    </span>
                    <span ng-if="feature.type == 'string'">
                        {{feature.monthly}}
                    </span>
                    <span ng-if="feature.type == 'number'">
                        {{feature.monthly|translateNumber}}
                    </span>
                    <span ng-if="feature.type == 'price'">
                        {{feature.monthly|currency : "" :0|translateNumber}}{{"general.currency"|translate}}
                    </span>
                </td>

            </tr>
            <tr>
                <td class="start-text">
                    {{"business.subscriptionPrice"|translate}}
                </td>
                <td>
                    {{serviceConfig.packages[0].annuallyPrice |currency : ""
                    :0|translateNumber}}{{"general.currency"|translate}}
                </td>
                <td>
                    {{serviceConfig.packages[1].annuallyPrice |currency : ""
                    :0|translateNumber}}{{"general.currency"|translate}}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ng-click="buyPackage(serviceConfig.packages[0])"
                            class="btn btn-sm btn-primary btn-block">{{ 'business.buySubscription'| translate }}
                    </button>
                </td>
                <td>
                    <button ng-click="buyPackage(serviceConfig.packages[1])"
                            class="btn btn-sm btn-primary btn-block">{{ 'business.buySubscription'| translate }}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-sm btn-default">{{ "general.close" | translate }}</button>
    </div>
</div>
