<h1 class="wrapper-sm m-n h5">{{"campaign.insertMessage" | translate}}</h1>
<ul class="list-group">
    <li class="list-group-item">
        <label class="control-label">{{'campaign.messageBody' | translate}}</label>
        <textarea rows="3" style="resize:none" type="text" class="form-control"
                  ng-model="campaign.messageBody" autofocus></textarea>
    </li>
    <li class="list-group-item">
        <div class="checkbox">
            <label class="i-checks">
                <input type="checkbox" name="sendCoupon" ng-model="campaign.sendCoupon"><i></i>
                {{"campaign.sendCouponWithMessage" | translate}}
            </label>
        </div>
        <fieldset ng-disabled="!campaign.sendCoupon"
                  ng-class="{'text-muted' : !campaign.sendCoupon , 'text-sm' : true}">
            <form>
                <div class="form-group form-group-sm">
                    <div class="col-sm-6">
                        <label class="control-label">{{"campaign.discountPercentage" | translate }}</label>
                        <div class="input-group  input-group-sm">
                            <input type="number" min='0' class="form-control"
                                   ng-model="campaign.discount.amount"
                                   ng-class="{'text-muted' : !campaign.sendCoupon}">
                            <div class="input-group-btn" uib-dropdown>
                                <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{"general."+campaign.discount.unit | translate}}&nbsp;&nbsp;
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li role="menuitem" ng-model="campaign.discount.unit">
                                        <a ng-click="campaign.discount.unit = 'percent'">
                                            {{"general.percent" | translate}}
                                            <i class="fa fa-check text-primary"
                                               ng-if="campaign.discount.unit == 'percent'"></i>
                                        </a>
                                    </li>
                                    <li role="menuitem"  ng-model="campaign.discount.unit">
                                        <a ng-click="campaign.discount.unit = 'toman'">
                                            {{"general.toman" | translate}}
                                            <i class="fa fa-check text-primary"
                                               ng-if="campaign.discount.unit == 'toman'"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">{{"campaign.couponPrefix" | translate }}</label>
                        <input type="text" class="form-control"
                               ng-model="campaign.couponPrefix"
                               ng-class="{'text-muted' : !campaign.sendCoupon}">
                    </div>
                </div>

                <!--<div class="form-group form-group-sm">
                    <label class="control-label">{{"campaign.couponValidDays" |
                        translate}} </label><br>
                    <button type="button" class="btn btn-sm btn-primary" ng-model="campaign.allDays"
                            uib-btn-checkbox>
                        {{"general.all"|translate}}
                    </button>
                    <div class="btn-group">
                        <label class="btn btn-sm btn-default" ng-repeat="(dayName, day) in campaign.days"
                               ng-model="campaign.days[dayName]"
                               uib-btn-checkbox>
                            <i class="fa"
                               ng-class="{'fa-circle-thin': !campaign.days[dayName], 'fa-check-circle text-primary': campaign.days[dayName]}"></i>
                            {{ dayName | translate}}
                        </label>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label">{{"campaign.couponValidHours" |
                        translate}} </label><br>
                    <button type="button" class="btn btn-sm btn-primary" ng-model="campaign.allHours"
                            uib-btn-checkbox>
                        {{"general.all"|translate}}
                    </button>
                    <div class="btn-group">
                        <label class="btn btn-sm btn-default" ng-repeat="(hourName, hour) in campaign.hours"
                               ng-model="campaign.hours[hourName]"
                               uib-btn-checkbox>
                            <i class="fa"
                               ng-class="{'fa-circle-thin': !campaign.hours[hourName], 'fa-check-circle text-primary': campaign.hours[hourName]}"></i>
                            {{ hourName | translate}}
                        </label>
                    </div>
                </div>-->
            </form>
        </fieldset>
    </li>
</ul>
